<div class="call">
  <div class="call-box-top">
    <strong> Andrew Lee (Project Director) </strong>
    <br />
    {% if site.data.contact.phone %}
    <div class="call-email"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
    <div class="call-email"><strong> Personal Website: </strong>
    <a href='{{ site.data.contact.website }}'> Github </a>
    </div>
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Apply Here</a>
      </div>
    {% endif %}
</div>
