.page-projects {
  background-color: $background;
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
  .projects-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-gap: 1rem;
  grid-template-rows: 150px 150px;
  }
}
