---
layout: default
bodyClass: "page-scholars"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10 order-2">
  <div class="row justify-content-start">
    <div class="col-sm">
        <h1 class="title">{{page.title}} </h1>
    </div>
      <!-- <div class="content">-->
      <!-- </div>-->
    <div class="col-sm">
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-sm">
      <div class="image">
        <img src="{{page.image | relative_url}}" width="100%" style="float:left;"/>
      </div>
      <div class="scholar-meta">
        {% if page.website %}
          <a target="_blank" href="{{ page.website }}" rel="noreferrer">Personal Website</a> <br /r>
        {% endif %}         
        {% if page.phone %}
          <b> Phone </b>: {{page.phone}} <br />
        {% endif %}
        {% if page.email %}
          <b> Email </b>: {{page.phone}} <br />
        {% endif %}
      </div>
    </div>
    <div class="col-sm">
    {{content}}
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

