---
layout: default
bodyClass: "page-scholars"
---

<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ content }}
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container pt-6 pb-6">
    <div class="row">
        {% assign peer_mentors = site.scholars | where: "promoted", true | sort: "weight" %}
        {% for mentor in peer_mentors %}
        <div class="col-12 col-md-6 mb-2">
            <div class="scholars scholar-summary scholar-summary-large">
                {% if mentor.image %}
                <div class="scholar-image">
                    <img width="90" height="90" alt="{{ mentor.title }}" class="img-fluid mb-2" src="{{ mentor.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="scholar-meta">
                    <h2 class="scholar-name"><a href="{{ mentor.url | relative_url }}">{{ mentor.title }}</a></h2>
                    <p class="scholar-description">{{ mentor.jobtitle }}</p>
                    {% if mentor.linkedinurl %}
                    <a target="_blank" href="{{ mentor.linkedinurl }}" rel="noreferrer">LinkedIn</a>
                    {% endif %}
                </div>
                <div class="scholar-content">{{ mentor.content | truncate: 120 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row pt-6 pb-6">
        {% assign scholars = site.scholars | where: "promoted", empty | sort: "weight" %}
        {% for scholar in scholars %}
        <div class="col-12 col-md-4 mb-3">
            <div class="scholar scholar-summary">
                Team member {{ scholar.title}}
                {% if scholar.image %}
                <div class="scholar-image">
                    <img width="60" height="60" alt="{{ scholar.title }}" class="img-fluid mb-2" src="{{ scholar.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="scholar-meta">
                    <h2 class="scholar-name"><a href="{{ scholar.url | relative_url }}">{{ scholar.title }}</a></h2>
                    <p class="scholar-description">{{ scholar.jobtitle }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
